---
layout: default
---
<!-- {% assign posts_count = (paginator.posts | size) %} -->

<!-- <div class="home">
  {% if posts_count > 0 %}
    <div class="posts">
      {% for post in paginator.posts %}
        <div class="post py3">
          <p class="post-meta">{{ post.date | date: site.date_format }}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
          <p class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </p>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h3>
  {% endif %}
</div> -->

<!-- {% include about.md %} -->

<article class="post-content">
  <p><img src="/assets/img/portrait.jpg" style="float:right; width:40%; height:40%; padding: 0px 0px 10px 20px;" title="Exploring Oslo, Norway!" />
<div style="padding-bottom:20px align:center">Hello!</p></div>

<p>My name is Ryan Holben, and I love solving problems.</p>

<p>I am a <a href="http://www.furman.edu/academics/mathematics/meet-our-faculty/Pages/Ryan-Holben.aspx">math professor</a>.  I firmly believe in the beauty of mathematics.</p>

<p>I also love coding.  It is both a tool and a medium by which I explore many <a href="/coding/">interests</a>.</p>

<p>To see my résumé, click the <span class="social-resume"><a class="fa fa-file-pdf-o" href="/assets/pdf/Resume.pdf" title="Résumé"></a></span> icon above.</p>
</article>
