<a href = "/about/">About</a> ● <a href = "/about/">Code</a> ● <a href = "/about/">Math</a> ● <a href = "/about/">Teaching</a> ● <a href = "/about/">Say Hi!</a>


<!-- {% for page in site.pages %} -->
    <!-- {% if page.tags contains "navbar" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %} -->
<!-- {% endfor %} -->
<!-- {% for page in site.pages %}
    {% if page.tags contains "contact" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %} -->
