<!-- Clean & minimal version -->
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

{% assign url_list = "/about/ /coding/ /math/ /teaching/" | split: ' ' %}
{% assign page_titles = "About Code Math Teaching" | split: ' ' %}
{% for url in url_list %}
  {% if page.url == url %}
    <img src="/assets/img/int.png" style="padding:0px; position: relative; top:5px; right:2px; width:15px; height:27px;">
  {% endif %}
  <span class="navlink-clean"> <a href = "{{ url }}">{{ page_titles[forloop.index0] }}</a> </span>
{% endfor %}
<!-- <span class="navlink-clean"> <a href = "/about/">About</a> </span>
<span class="navlink-clean"> <a href = "/coding/">Code</a> </span>
<span class="navlink-clean"> <a href = "/math/">Math</a> </span>
<span class="navlink-clean"> <a href = "/teaching/">Teaching</a>  </span> -->
<a id="navbarcontact" href = "/contact/"><i class="fa fa-comment-o fa-lg" aria-hidden="true"></i></a>

<!-- Version with separator icons -->
<!-- <span class="navlink"> <a href = "/about/">About</a> <i class="fa fa-angle-right"></i> </span>
<span class="navlink"> <a href = "/coding/">Code</a> <i class="fa fa-angle-right"></i> </span>
<span class="navlink"> <a href = "/math/">Math</a> <i class="fa fa-angle-right"></i> </span>
<span class="navlink"> <a href = "/teaching/">Teaching</a> <i class="fa fa-angle-right"></i> </span>
<a id="navbarcontact" href = "/contact/"><i class="fa fa-comment-o fa-lg" aria-hidden="true"></i></a> -->

<!-- {% for page in site.pages %} -->
    <!-- {% if page.tags contains "navbar" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %} -->
<!-- {% endfor %} -->
<!-- {% for page in site.pages %}
    {% if page.tags contains "contact" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %} -->
