<a href = "/about/">{About}</a> <!--<i class="fa fa-github" href="https://github.com/{{ site.github_username }}" title="GitHub"></i>-->
<a href = "/coding/">{Code}</a>
<a href = "/math/">{Math}</a>
<a href = "/teaching/">{Teaching}</a>
<span class="navbar-contact"><a href = "/contact/"><i class="fa fa-comment-o fa-lg" aria-hidden="true"></i></a></span>


<!-- {% for page in site.pages %} -->
    <!-- {% if page.tags contains "navbar" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %} -->
<!-- {% endfor %} -->
<!-- {% for page in site.pages %}
    {% if page.tags contains "contact" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %} -->
