<div class="social-icons">
  <div class="social-icons-left">
    {% if site.github_username %}
      <span class ="social-github"><a class="fa fa-github fa-3x" href="https://github.com/{{ site.github_username }}" title="GitHub"></a></span>
    {% endif %}
    <!--<a class="fa fa-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}"></a>-->
    {% if site.twitter_username %}
      <a class="fa fa-twitter" href="https://twitter.com/{{ site.twitter_username }}"></a>
    {% endif %}
    {% if site.email %}
      <span class="social-email"><a class="fa fa-envelope" href="mailto:{{ site.email }}" title="Email"></a></span>
    {% endif %}
    {% if site.linkedin_username %}
      <span class ="social-linkedin"><a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title=LinkedIn></a></span>
    {% endif %}
    <span class ="social-resume"><a class="fa fa-file-pdf-o" href="/assets/pdf/Resume.pdf" title="Résumé"></a></span>
  </div>
  <div class="right">
    {% if site.bitcoin_url %}
      <a class="fa fa-bitcoin" href="{{ site.bitcoin_url }}"></a>
    {% endif %}
    {% if site.paypal_url %}
      <a class="fa fa-paypal" href="{{ site.paypal_url }}"></a>
    {% endif %}
    {% if site.flattr_button %}
      {{ site.flattr_button }}
    {% endif %}
  </div>
</div>
<div class="clearfix"></div>
